@import "tailwindcss";
@import "swiper/css";


body {
  font-family: "Poppins", sans-serif;
  @apply text-[#053436] bg-[#fbf6ea];
}

.container {
  @apply max-w-[1440px] mx-auto px-4 lg:px-8;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 30px;
}

h2 {
  @apply text-3xl font-bold text-center mb-18 text-[#56aa9e];
}

h3 {
  @apply text-2xl font-bold mb-5 text-[#053436];
}

section {
  @apply py-20;
}

a,button {
    @apply cursor-pointer;
}

.caption-truncate {
  height: 10rem; /* або інша фіксована висота */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* обрізає після 3 рядків */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

svg {
  @apply !transition-all !duration-300 !transform scale-100 hover:scale-110 ;
}

.react-tel-input.react-tel-input .form-control {
  @apply w-full h-[50px];
}